.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: #ffd700; /* Change color on hover */
}
/* Footer Styles */

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 45%;
  max-width: 400px; /* Limit max width for larger screens */
}

.footer-section.about {
  margin-bottom: 20px; /* Add some space between sections */
}

.footer-section h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.socials a {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #ffd700; /* Change color on hover */
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  background-color: #222;
  color: #ddd;
  text-align: center;
  padding: 15px 0;
  font-size: 0.8rem;
}

.carousel-inner .carousel-item {
  transition-duration: 0.3s;
}
